.calendarGrid {
  width: 70%;
  position: relative;
  margin: 20px;
  right: 5px;
  display: flex;
}

.cells {
  width: 100px;
  height: 50px;
  border-radius: 0 !important;
}

.body {
  /* overflow-y: scroll; */
}

.columnHeader {
  display: flex;
  color: #70757a;
  justify-content: center;
}

.colorBlue {
  color: #1a73e8;
}

.rowHeader {
  width: auto;
}

.rowCells {
  display: flex;
  flex-direction: column;
  height: 50px;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.column {
  padding: 0 !important;
}

.today {
  background-color: #1a73e8 !important;
  color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notToday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
}
