.calendarGrid {
  width: 70%;
  position: relative;
  margin: 20px;
  right: 5px;
  display: flex;
}


.cells {
  width: 100px;
  height: 50px;
  border-radius: 0 !important;
}

.body{ 
  /* overflow-y: scroll; */
}


.columnHeader{
  display: flex;
  color :  #70757a;
  justify-content: center;
}

.rowHeader{
  width: auto;
}

.rowCells{
  display: flex;
  flex-direction: column;
  height: 50px;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.column{
  padding: 0 !important;
}