.calendarGrid {
  width: 70%;
  position: relative;
  margin: 20px;
  right: 5px;
}


.cells {
  width: 100px;
  height: 50px;
  border: 1px solid #70757a;
  border-top: none;
}

.body{ 
  /* overflow-y: scroll; */
}

.rows{
  display: flex;
}


.columnHeader{
  display: flex;
  color :  #70757a;
  justify-content: center;
}

.rowHeader{
  color :  #70757a;
  justify-content: center;
  margin-top: 10px;
}

.rowCells{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;

}
