.startTimeDropdown:before {
  border-bottom: none !important;
}

.endTimeDropdown:before {
  border-bottom: none !important;
}
.startTimeDropdown svg {
  display: none;
}

.endTimeDropdown svg {
  display: none;
}

.startTimeDropdown select {
  padding-right: 0 !important;
  margin-left: 1em;
}

.endTimeDropdown select {
  padding-right: 0 !important;
  margin-left: 0.5em;
}

.title {
  padding: 1.5em !important;
}

.title div {
  font-size: x-large;
}

.clockIcon,
.locationIcon {
  padding-right: 0.5em;
}

.dateTimeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location,
.guests {
  width: 89%;
}
